# Model artifacts (too large for GitHub)
*.pkl
models/
mlruns/

# Data
data/

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Evidently reports
drift_report.html

# DVC
/data/*.csv.dvc

# OS
.DS_Store
Thumbs.db
